<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Password</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Credit</th>
      <th>Qq</th>
      <th>Weibo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= user.address %></td>
        <td><%= user.postcode %></td>
        <td><%= user.credit %></td>
        <td><%= user.qq_id %></td>
        <td><%= user.weibo_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
